.badge {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: var(--text);
    padding: 0.25rem 0.5rem;
    border-radius: 12px;
    background-color: var(--primary);
    font-weight: 700;
    font-size: 12px;
    text-transform: uppercase;
    width: fit-content;
}